
<div class="businesstoday_navigation">
<div class="bt_nav_section">
<div class="swiper-container">
<div class="swiper-wrapper">
<!--<div class="swiper-slide"><a href="" title="" class="active_tab">Home</a></div>
<div class="swiper-slide"><a href="" title="">Economy</a></div>
<div class="swiper-slide"><a href="" title="">Tech</a></div>
<div class="swiper-slide"><a href="" title="">Corporate</a></div>
<div class="swiper-slide"><a href="" title="">Opinion</a></div>
<div class="swiper-slide"><a href="" title="">Markets</a></div>
<div class="swiper-slide"><a href="" title="">Photos</a></div>
<div class="swiper-slide"><a href="" title="">Money</a></div>
<div class="swiper-slide"><a href="" title="">Videos</a></div>
<div class="swiper-slide"><a href="" title="">Industry</a></div>
<div class="swiper-slide"><a href="" title="">Magazine</a></div> -->

<div class="swiper-slide"><a href="" title="" class="active_tab">Home</a></div>
<div class="swiper-slide"><a [routerLink] = "['/about']">about</a></div>
<div class="swiper-slide"><a [routerLink] = "['/test']">test</a></div>
</div>
</div>
</div>
</div>
